<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/phpunit/Unit</directory>
    </testsuite>
    <testsuite name="Core">
      <directory>tests/phpunit/Unit/Core</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/phpunit/Integration</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/phpunit/Feature</directory>
    </testsuite>
    <testsuite name="EmailProcessing">
      <file>tests/phpunit/Unit/EmailFormProcessorTest.php</file>
      <file>tests/phpunit/Unit/EmailAccountManagerTest.php</file>
      <file>tests/phpunit/Unit/CrmSyncManagerTest.php</file>
      <file>tests/phpunit/Integration/EmailProcessingIntegrationTest.php</file>
      <file>tests/phpunit/Feature/EmailProcessingWorkflowTest.php</file>
    </testsuite>
    <testsuite name="EditLeadWorkflow">
      <file>tests/phpunit/Unit/EditLeadWorkflowTest.php</file>
      <file>tests/phpunit/Integration/EditLeadWorkflowIntegrationTest.php</file>
      <file>tests/phpunit/Feature/EditLeadWorkflowFeatureTest.php</file>
    </testsuite>
    <testsuite name="LeadsModule">
      <file>tests/phpunit/Unit/LeadsModelTest.php</file>
      <file>tests/phpunit/Unit/LeadsFormValidationTest.php</file>
      <file>tests/phpunit/Unit/LeadsPostHandlerTest.php</file>
      <file>tests/phpunit/Unit/LeadsListTest.php</file>
      <file>tests/phpunit/Unit/PhoneFormattingTest.php</file>
      <file>tests/phpunit/Integration/LeadsIntegrationTest.php</file>
      <file>tests/phpunit/Integration/LeadsContactSyncIntegrationTest.php</file>
      <file>tests/phpunit/Integration/LeadsErrorHandlingIntegrationTest.php</file>
      <file>tests/phpunit/Feature/LeadsFeatureTest.php</file>
      <file>tests/phpunit/Feature/LeadsCompleteWorkflowTest.php</file>
    </testsuite>
    <testsuite name="LeadsOnly">
      <directory>tests/phpunit/Unit</directory>
      <file>tests/phpunit/Unit/LeadsModelTest.php</file>
      <file>tests/phpunit/Unit/LeadsListTest.php</file>
      <file>tests/phpunit/Unit/PhoneFormattingTest.php</file>
    </testsuite>
  </testsuites>
  <php>
    <!-- Environment variables for testing -->
    <env name="APP_ENV" value="testing"/>
    <env name="TESTING_MODE" value="true"/>
    <env name="BASE_URL" value="https://democrm.waveguardco.net"/>
    <!-- Test database configuration -->
    <env name="TEST_DB_HOST" value="localhost"/>
    <env name="TEST_DB_NAME" value="democrm_test"/>
    <env name="TEST_DB_USER" value="democrm_test"/>
    <env name="TEST_DB_PASS" value="TestDB_2025_Secure!"/>
    <!-- Testing mode type: auto, persistent, ephemeral -->
    <env name="TESTING_MODE_TYPE" value="persistent"/>
    <!-- PHP settings -->
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="1"/>
    <ini name="memory_limit" value="512M"/>
  </php>
</phpunit>